body{
    color: white;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1F2937;
    height: 600px;
}

.header {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
}

.logo{
   font-size: 24px;
   color: #F9FAF8; 
   font-weight: 900;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; 
    margin: 30px;
    gap: 25px;
    flex: auto;
}

.h-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-basis: 400px;
    height: 250px;
}

.image-ph {
    display: flex;
    flex-basis: 500px;
    height: 250px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;

}

button {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-weight: 800;
    margin-top: 15px;
}

.info {
    text-align: center;
    color: black;
    height: 400px;
}

.box-section {
    display: flex;
    height: 400px;
}

.box{
    box-sizing: border-box;
    width: 150px;
    height: 200px;
    border: 1px solid blue;
}