body{
    color: white;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
}

.logo{
   font-size: 24px;
   color: #F9FAF8; 
   font-weight: 900;
}

.hero {
    display: flex;
}

